.header {
    text-align: center;
    margin: var(--1remSize) 0;
}

.header nav {
    background-color: var(--backgroundColor);
    font-size: var(--1remSize);
    text-align: left;
    padding-left: var(--1remSize);
    margin: var(--halfSize) 0;
}

.header nav a {
    padding: var(--navPad);
    display: inline-block;
    text-decoration: none;
    color: var(--textColor);
}

.header nav a:hover {
    background-color: var(--textColor);
    color: var(--backgroundColor);
}