:root {
    --backgroundColor: #202020;
    --textColor: #e2e2e2;
    --halfSize: 0.5rem;
    --1remSize: 1rem;
    --accentColor: #1e1eec;
    --btnBgColor: #f0c14b;
    --btnBorderTop: #a88734;
    --btnBorderRightLeft: #9c7e31;
    --btnBorderBottom: #846a29;
    --warningColor: #e00202;
    --borderRadius: 0.1rem;
    --listFontSize: 0.7rem;
}